/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
body {
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #00000029;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo-BestShop {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #08A6E4;
    margin: 16px 0 17px 0;
}
.nav-list {
    display: flex;
}
.nav-list-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    margin-top: 28px;
    margin-bottom: 27px;
    color: #A5A5A5;
    font-weight: bold;
    text-decoration: none;
    margin-left: 94px;
}
.nav-list-link:hover {
    color: #000000;
    position: relative;
}
.nav-list-link:hover::after {
    content: "";
    width: 84px;
    height: 1px;
    background: #08A6E4;
    display: block;
    position: absolute;
    top: 27px;
    left: -19px;
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner-title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #000000;
    margin-top: 130px;
    margin-bottom: 20px;
    font-size: 49px;
}
.banner-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 38px;
}
.banner-button-open {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    height: 67px;
    width: 440px;
    background: #08A6E4;
    border-radius: 40px;
    box-shadow: 5px 10px 14px #07ACE629;
    border: none;
}
.statistics {
    height: 531px;
}
.statistics-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-top: 100px;
}
.container .statistics-boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 101px;
}
.box-kolo {
    height: 62px;
    width: 62px;
    border-radius: 50%;
    z-index: -1;
    position: relative;
}
.box-kolo1 {
    background: #FB3B64;
}
.box-kolo2 {
    background-color: #08A6E4;
}
.box-kolo3 {
    background-color: #55DFB4;
}
.box-photo {
    position: absolute;
    left: 25px;
    top:12px
}
.box-photo1 {
    left: 40px;
    top: 9px
}
.box-h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin: 13px 0 19px 0;
}
.box-p {
    font-family: 'Raleway', sans-serif;
    color: #A5A5A5;
    font-size: 17px;
    text-align: center;
}
.benefits {
    height: 1395px;
    background-color: #F7F7F7;
}
 .benefits-boxy {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.benefits-box {
    height: 370px;
    margin-top: 105px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;

}
.benefits-box-alternative {
    height: 370px;
    margin-top: 105px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row-reverse;
}
.benefits-boxy-lewo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: center;
    margin:35px
}
.benefits-photo1 {
    height: 219px;
    width: 386px;
    position: absolute;
    top:100px;
    right: 219px;

}
.benefits-photo2 {
    height: 328px;
    width: 426px;
}
.benefits-photo3 {
    height: 207px;
    width: 295px;
    position: center;
}
.benefits-box .benefits-boxy-prawo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.benefits-boxy-title {
    font-size: 36px;
}
.benefits-boxy-p {
    width: 450px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.benefits-boxy-element {
    width: 328px;
    height: .5px;
}
.benefits-boxy-element1 {
    background-color: #FB3B64;
}
.benefits-boxy-element2 {
    background-color: blue;
}
.benefits-boxy-element3 {
    background-color: green;
}




