.banner-title {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #000000;
  margin-top: 130px;
  margin-bottom: 20px;
  font-size: 49px;
}
.banner-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;
  margin-bottom: 38px;
}
.banner-button-open {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
  height: 67px;
  width: 440px;
  background: #08A6E4;
  border-radius: 40px;
  box-shadow: 5px 10px 14px #07ACE629;
  border: none;
}
.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}