.contact .container {
  display: flex;
  justify-content: center;
  height: 590px;
  margin-top: 155px;
}
.contact-left , .contact-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-title {
  font-family: 'Raleway', sans-serif;
  font-size: 49px;
  width: 342px;
}
.contact-details {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-top: 22px;
  position: relative;
}
.contact-left-box ul {
  margin-top: 42px;
}
.contact-left-box ul li {
  display: inline;
  font-size: 16px;
  color: #A5A5A5;
}
.contact-left-box ul li::before {
  content: "";
  display: inline-block;
  height: 27px;
  width: 27px;
  margin-right: 4px;
  margin-block-end: -9px;
}
.contact-left-box ul .contact-mail::before {
  background-image: url("../assets/Mail Icon.svg");
}
.contact-left-box ul .contact-telephone::before {
  background-image: url("../assets/Phone Icon.svg");
}
.contact-right {
  display: flex;
  flex-direction: column;
  width: 440px;
}
.contact-title-right {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #08A6E4;
  letter-spacing: 3.28px;
}
.contact-name-input {
  margin: 10px 0 10px 0;
  border: none;
  border-bottom: .5px solid #707070;
}
.contact-form-checkbox-label {
  display: flex;
}
.contact-form-checkbox-label-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #707070;
  width: 405px;
  height: 108px;
}
.contact-form-checkbox {
  width: 0;
  height: 0;
  display: inline-block;
  margin-right: 25px;
}
.contact-form-checkbox::after {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #95989A;
  border-radius: 4px;
}
.contact-form-checkbox:checked::after {
  background-image: url('../assets/Checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.contact-button-blue {
  width: 226px;
  height: 57px;
  color: #FFFFFF;
  font-size: 13px;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 35px;
  border: none;
  background-color: #08A6E4;
  float: right;
  margin-left: 50%;
}
