.opening {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &_content {
    text-align: center;
    margin-top: 130px;
    @include mobile {
      margin-top: 100px;
    }
  }
  &_header {
    font-family: $font-raleway;
    font-size: 3.0625rem;
  }
  &_heading {
    margin-bottom: 38px;
    margin-top: 20px;
    @include mobile {
      padding: 0 70px;
    }
  }
  &_image {
    width: 100%;
    height: auto;
    @include mobile {
      width: 200%;
      transform: translateX(-27%);
    }
  }
  @include mobile {
    .btn {
      padding: 22px 136px;
      margin:0 32px;
      display: inline-block;
    }
  }
}



