.opening_content {
  text-align: center;
  margin-top: 130px;
}
.opening_header {
  font-family: $font-raleway;
  font-size: 3.0625rem;
  @include mobile {
    margin-top: 100px;
    font-size: 35px;
    padding: 0 70px;
  }
}
.opening_heading {
  margin-bottom: 38px;
  margin-top: 20px;
}
.btn {
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: $button-radius;
  border: none;
}
.btn--primary {
  background-color: $color-primary;
  border-radius: $button-radius;
  box-shadow: 3px 10px 14px $color-primary-shadow;
}
.btn--large {
  padding: 22px 155px;
  @include mobile {
    margin: 0 15px;
    display: block;
  }
}
.opening_image {
  width: 100%;
  height: auto;
}
