.statistics {
  margin-top: 100px;
  @include mobile {
    height: auto;
  }
}
h2 {
  font-family: $font-raleway;
  font-size: 2.25rem;
  text-align: center;
  @include mobile {
    margin-top: 50px
  }
}
.statistics_container {
  display: flex;
  max-width: 800px;
  justify-content: space-between;
  margin: 101px auto 120px;
  @include mobile {
    margin: 35px auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.statistics_single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  text-align: center;
}
.statistics_circle {
  height: 62px;
  width: 62px;
  border-radius: 50%;
  position: relative;
}
.statistics_img {
  position: absolute;
}
.statistics_single:nth-child(1) .statistics_circle {
  background-color: $color-redish;
}
.statistics_single:nth-child(1) .statistics_img {
  top:1px;
  left:45%;
}
.statistics_single:nth-child(2) .statistics_circle {
  background-color: $color-primary;
}
.statistics_single:nth-child(2) .statistics_img {
  top:14px;
  left:47%;
}
.statistics_single:nth-child(3) .statistics_circle {
  background-color: $color-green;
}
.statistics_single:nth-child(3) .statistics_img {
  top:6px;
  left:50%;
}

.statistics_number {
  font-weight: 800;
  font-size: 1.25rem;
  margin-top: 13px;
  letter-spacing: 0.1875rem;
}
.statistics_description {
  color: $color-grey;
  font-size: 1.0625rem;
  margin-top: 19px;
}